.hero{
	width: 50% !important;
}
.zmctop2 {
    width: 1440px;
    height: 960px;
    background-size: 1440px 960px;
    background-repeat: no-repeat;
    background-image: url(/images/final-frontier_large.jpg)
}